
body {
  font-family: Arial, sans-serif;
}

.navbar-brand img {
  margin-right: 10px;
}

.carousel-item{
  color: rgb(16, 18, 18);
  font-size: 28px;
  text-align: center;
  padding-bottom: 30px;
}
.carousel-item img {
  margin: auto;
  height: 500px;
  object-fit: cover;
}

footer {
  text-align: center;
}
